#CLIPPER_ADDRESS=
#DOG_ADDRESS=
ETH_RPC=https://goerli.block360.io/https
ETH_FROM=0x8b00CcDFefdc511B20f5C10a2e08d41EF1F728Df
#ETH_RPC=http://localhost:8545
BLOCK_NUMBER=20
ILK=ETH-A
FLIP_ETH_URL="https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=usd"
FLIP_ETH_A_DISCOUNT=0.25 # e.g. 0.25 = 25% discount from FMV
ETH_KEY=/home/keeper/hush/eth-a-kicker.json
ETH_PASS=/home/keeper/hush/eth-a-kicker.pass
VAT_DAI_TARGET=2000                      
